.why-effective-container{
  padding: 20px;
  background-color: var(--mat-sys-surface); // Background color
  color: var(--mat-sys-on-surface); // Text color

}

.benefits-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.benefit-card {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: var(--mat-sys-surface-container); // Card background
  border-radius: 8px;
  box-shadow: var(--mat-sys-level1); // Elevation for the card
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: var(--mat-sys-level2); // Elevation on hover
  }
}

.benefit-icon {
  font-size: 65px;
  width: 65px;
  height: 65px;
  color: var(--mat-sys-primary); // Primary color for icons
  margin-bottom: 16px;
}

.benefit-title {
  font: var(--mat-sys-headline-small); // Typography for titles
  margin-bottom: 12px;
  color: var(--mat-sys-primary); // Primary color for titles
}

.benefit-description {
  font: var(--mat-sys-body-medium); // Typography for descriptions
  color: var(--mat-sys-on-surface); // Text color
  line-height: 1.6;
}
