.hero {
  background: linear-gradient(to bottom right, var(--mat-sys-primary), var(--mat-sys-secondary));
  color: var(--mat-sys-on-primary);
  text-align: center;
  padding: 50px 20px;

  .hero-content {
    max-width: 800px;
    margin: 0 auto;

    h1 {
      font: var(--mat-sys-headline-large);
      margin-bottom: 20px;
    }

    p {
      font: var(--mat-sys-body-large);
      margin-bottom: 30px;
    }

    .cta-button {
      background-color: var(--mat-sys-secondary);
      color: var(--mat-sys-on-secondary);
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: var(--secondary-hover-color); // Custom hover color token
      }
    }
  }
}

.app-courses-section{
  display: flex;
  justify-content: center;
  align-items: center;
}