.hero {
  background: linear-gradient(to bottom right, var(--mat-sys-primary), var(--mat-sys-secondary));
  color: var(--mat-sys-on-primary);
  text-align: center;
  padding: 50px 20px;

  .hero-content {
    max-width: 800px;
    margin: 0 auto;

    h1 {
      font: var(--mat-sys-headline-large);
      margin-bottom: 20px;
    }

    p {
      font: var(--mat-sys-body-large);
      margin-bottom: 30px;
    }

    .cta-button {
      background-color: var(--mat-sys-secondary);
      color: var(--mat-sys-on-secondary);
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: var(--secondary-hover-color); // Custom hover color token
      }
    }
  }
}

.features {
  background: var(--mat-sys-surface);
  padding: 50px 20px;
  text-align: center;

  .features-content {
    max-width: 800px;
    margin: 0 auto;

    h2 {
      font: var(--mat-sys-headline-medium);
      color: var(--mat-sys-primary);
      margin-bottom: 30px;
    }

    .feature-list {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .feature-item {
        background: var(--mat-sys-secondary-container);
        padding: 20px;
        border-radius: 8px;

        h3 {
          font: var(--mat-sys-title-medium);
          color: var(--mat-sys-primary);
          margin-bottom: 10px;
        }

        p {
          font: var(--mat-sys-body-medium);
          color: var(--mat-sys-on-secondary-container);
        }
      }
    }
  }
}

.app-courses-section{
  display: flex;
  justify-content: center;
  align-items: center;
}