<header dir="ltr">
    <div class="left-section">
        <a routerLink="/" class="logo">
            <span class="number">8200</span>
            <div class="text">
                <span>Cyber</span>
                <span>School</span>
            </div>
        </a>
    </div>
    <nav>
        <ul dir="rtl">
            <li><a href="/gamaCyber">גאמא סייבר</a></li>
            <li><a href="/computerSubjects">מקצועות המחשב</a></li>
            <li><a href="/readMore">עוד על המיונים</a></li>
            <li><a href="/about">עלינו</a></li>
        </ul>
    </nav>
</header>