<header>
    <div class="left-section">
        <a routerLink="/" class="logo">
            <span class="number">8200</span>
            <div class="text">
                <span>Cyber</span>
                <span>School</span>
            </div>
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="/couseA">Course a</a></li>
            <li><a href="/couseB">Course b</a></li>
            <li><a href="/readMore">read more</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>