<header>
    <nav>
        <button class="menu-toggle" aria-label="Toggle Navigation" (click)="isMenuOpen = !isMenuOpen">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <ul [class.open]="isMenuOpen">
            <li><a href="/gamaCyber">גאמא סייבר</a></li>
            <li><a href="/computerSubjects">מקצועות המחשב</a></li>
            <li><a href="/readMore">עוד על המיונים</a></li>
            <li><a href="/about">עלינו</a></li>
        </ul>
    </nav>
    <div class="left-section">
        <a routerLink="/" class="logo">
            <div class="text">
                <span>Cyber</span>
                <span>School</span>
            </div>
            <span class="number">8200</span>
        </a>
    </div>
</header>
