.reviews-container {
  background-color: var(--mat-sys-surface);
  padding: 20px;
  color: var(--mat-sys-on-surface);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .reviews-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 1200px;

    .review-stars {
      display: flex;
      gap: 4px;

      mat-icon {
        color: var(--mat-sys-primary);
        font-size: 24px;
      }
    }

    .reviews-count {
      margin-right: 10px;
      font: var(--mat-sys-title-large);
    }
  }

  .reviews-carousel {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 1200px;
    position: relative;

    .nav-button {
      color: var(--mat-sys-primary);
      background-color: var(--mat-sys-surface-container-low);
      border-radius: 50%;
      box-shadow: var(--mat-sys-level1);
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
        box-shadow: var(--mat-sys-level2);
      }
    }

    .reviews-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 20px;
      width: 100%;
      overflow: hidden;

      .review-card {
        padding: 20px;
        border-radius: 12px;
        background-color: var(--mat-sys-surface-container-high);
        box-shadow: var(--mat-sys-level1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 16px;
        min-width: 300px;

        &:hover {
          transform: scale(1.03);
          box-shadow: var(--mat-sys-level3);
        }

        .review-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid var(--mat-sys-outline);
          padding-bottom: 8px;

          .review-stars {
            display: flex;
            gap: 4px;

            mat-icon {
              color: var(--mat-sys-primary);
              font-size: 20px;
            }
          }

          .review-date {
            font: var(--mat-sys-body-medium);
            color: var(--mat-sys-on-surface-variant);
          }
        }

        .review-content {
          display: flex;
          flex-direction: column;
          gap: 8px;

          .review-title {
            font: var(--mat-sys-title-large);
            font-weight: bold;
            color: var(--mat-sys-primary);
            margin: 0;
            text-transform: capitalize;
          }

          .review-text {
            font: var(--mat-sys-title-medium);
            color: var(--mat-sys-on-surface);
            line-height: 1.6;
            margin: 0;
          }
        }
      }
    }
  }
}