@use '@angular/material' as mat;

// Define light theme
$light-theme: (
  color: mat.$green-palette,
  typography: Roboto,
  density: 0
);

// Define dark theme
$dark-theme: (
  color: mat.$green-palette,
  typography: Roboto,
  density: 0
);

// Apply light theme by default
html {
  color-scheme: light;
  @include mat.theme($light-theme);
}

body {
  margin: 0;
}

// Add dark theme styles when the `dark-mode` class is applied
body.dark-mode {
  color-scheme: dark;
  @include mat.theme($dark-theme);
}
