@use '@angular/material' as mat;

// Define light theme
$light-theme: (
  color: mat.$green-palette,
  typography: Ariel,
  density: 0
);

// Define dark theme
$dark-theme: (
  color: mat.$green-palette,
  typography: Ariel,
  density: 0
);

// Apply light theme by default
html {
  color-scheme: light;
  direction: rtl;
  text-align: right;
  @include mat.theme($light-theme);
}

body {
  background-color: var(--mat-sys-surface);
  margin: 0;
}

// Add dark theme styles when the `dark-mode` class is applied
body.dark-mode {
  color-scheme: dark;
  @include mat.theme($dark-theme);
}

:root {
  @include mat.expansion-overrides((
    container-background-color: var(--mat-sys-secondary-container),
    container-text-color: var(--mat-sys-on-secondary-container),
  ));
}

h1 {
  font: var(--mat-sys-headline-large); // Typography variable for headline
  text-align: center;
  margin-bottom: 20px;
  color: var(--mat-sys-primary); // Primary color from palette
  text-transform: uppercase;
  letter-spacing: 2px;
}