<div class="courses-container">
    <h1>הקורסים שלנו</h1>
    @if (courses.status() === status.Resolved) {
    <div class="courses-grid">
        @for(course of courses.value(); track course._id) {
        <div class="course-card">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{ course.title }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>{{ course.description }}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary"
                        [routerLink]="course.route">לפרטים נוספים</button>
                </mat-card-actions>
            </mat-card>
        </div>
        }
    </div>
    }
</div>
